<div id="banner">
<span id="banner_title">kgb Automation Report Dashboard</span>
</div>

<div id="reportsection">
  <h2>Last Five Scenarios Run</h2>
  <table class="left">
    <tr>
      <th>Project</th> <th>Scenario</th> <th>Browser</th> <th>Environment</th> <th>Passing</th>
    </tr>
    <% @lastreports.each do |report| %>

    <% if report.result == false %>
      <tr id="failrow">
    <% else %>
      <tr id="passrow">
    <% end %>
      <td><%= report.project %> </td>
      <td><%= report.scenario %></td>
      <td><%= report.browser %></td>
      <td><%= report.environment %></td>
      <td><%= report.result %></td>
    </tr>
  <% end %>
 </table>
</div>

<hr>

<div>

  <h2>Latest Project Test Results</h2>

  <table>
  <tr>
  <% CONFIG.each do |key,value| %>

    <% lastten = Report.where(:project => value).limit(10) %>
  <td>
    <table class="left">
      <th><%= value %></th>
      <% lastten.each do |item| %>
          <% if item.result == false %>
              <tr id="failrow">
          <% else %>
              <tr id="passrow">
          <% end %>
        <td><%= item.scenario %></td>
        <td><%= item.browser %></td>
        <td><%= item.environment %></td>
        <td><%= item.result %></td>
      </tr>
      <% end %>
    </table>
  </td>
  <% end %>

  </tr>
  </table>

</div>

<hr>

<div>

  <h2>Project Pass Ratio</h2>

  <table>
    <tr>

  <% CONFIG.each do |key,value| %>

      <% lasthundredtrue = Report.where(:project => value, :result => true).limit(100).count %>
      <% totalcount = Report.where(:project => value).limit(100).count %>
      <% if totalcount == 0 %>
              <% totalcount += 1 %>
      <% end %>

            <td>
             <center>
              <%= value %>
              <br><br>
              <span id="percentage">
                <%= 100.00*(lasthundredtrue/totalcount) %> %
              </span>
              <br><br>
              passing
              </center>
            </td>
        <% end %>
      </tr>
      </table>

</div>

<br>

<div id="footer">

  <%= link_to("View Project Tests on Team City", "http://10.185.198.60:8081/overview.html") %>

</div>